<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Gabitech Investments</title>
  <link rel="icon" type="image/png" href="static/logo.png" style="border-radius: 50%;">
  <link rel="stylesheet" href="static/styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="gabs.js">
</head>
<body>

  <header class="header">
    <a href="/"><img src="static/logo.png" alt="Gabitech Logo" class="logo"></a>
    <nav class="nav-links">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="#vehicles">Vehicles</a>
      <a href="/sell">Sell Your Car</a>
      <a href="/contact">Contact</a>
      <a href="/login">Login</a>
    </nav>
  </header>

  <section class="hero">
    <h1>Welcome to WEST SIDE CO.</h1>
    <p>Discover Premium Vehicles Tailored for You <br>
        Uncover Local Gems and Import Options.</p>
  </section>
  
  <div id="carCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-bg" style="background-image: url(static/brabus.webp);"></div>
        <div class="carousel-caption top-right">
          <h2 style="color: red;">Reliable & Stylish</h2>
          <p style="font-size: larger; font-weight: 400;"> Start driving your dreams with West Side Co.</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-bg" style="background-image: url(static/range.avif);"></div>
        <div class="carousel-caption d-none d-md-block">
          <h1 style="color: red;">Classic Drive in Town</h1>
          <p>It is not just a drive <br>
            It is a companion and an experience.</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-bg" style="background-image: url(static/showroom.webp);"></div>
        <div class="carousel-caption right">
          <h1>Reliable & Stylish</h1>
          <p>Drive the future with West Side Co. trusted selection.</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="carousel-bg" style="background-image: url(static/Porsche-911-GT3.jpg);"></div>
         <div class="carousel-caption top-left">
    <h1>Right question</h1>
    <p>Cars? <br>
      No! <br>
      Future and Dreams.</p>
  </div>
      </div>
    </div>
  
    <!-- Carousel Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" style="font-size: 180px; font-weight: 400;"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" style="font-size: larger; font-weight: 400;"></span>
    </button>
  </div>
  

  <section class="dropdown">

    <div class="dropdown-content">
      <label for="vehicles">Survey Vehicles:</label>
      <select id="vehicles" name="vehicles" onchange="navigate(this)">
        <option value="" disabled selected>Get Vehicles</option>
        <option value="#vehicles">Available Stock</option>
        <option value="#">Import Direct</option>
      </select>

      <label>Survey Bikes:</label>
      <select id="bikes" name="bikes" onchange="navigate(this)">
        <option value="" disabled selected>Get Bikes</option>
        <option value="#vehicles">Available Stock</option>
        <option value="#">Import Direct</option>
      </select>
    </div>
  </section>

  <div class="next">
    <h1>FOUND WHAT YOU'RE LOOKING FOR?</h1>
    <p>Let Us Get Started</p>
  </div>
  
  <section class="car-listing">
  <div class="car-card">
    <img src="static/browse.webp" alt="Browse">
    <h2>Browse Our Vehicles</h2>
    <p>Explore the vehicles in our stock or describe the 
      type of car you want to import. Add it to cart.
    </p>
  </div>

  <div class="car-card">
    <img src="static/inspection.avif" alt="Inspection">
    <h2>inspection & enquiry</h2>
    <p>Check inspection report, available images, book a drive test
      and if satisfied let's wrap it up!</p>
  </div>

  <div class="car-card">
    <img src="static/exchange.jpg" alt="Exchange">
    <h2>Payment & Shipment</h2>
    <p>Follow the payment methods available, 
      and get your keys and vehicle.
      Importing? Wait for importation, clearing and collect
    </p>
  </div>
</section> 

<section class="car-search">
  <div class="brand-list">
    <h1>SEARCH BY BRANDS</h1>

    <a href=""><img src="static/Acura.png" alt=""></a>
    <a href=""><img src="static/alfaromeo.png" alt=""></a>
    <a href=""><img src="static/Aston-Martin.png" alt=""></a>
    <a href=""><img src="static/Audi.png" alt=""></a>
    <a href=""><img src="static/bentley.png" alt=""></a>
    <a href=""><img src="static/BMW.png" alt=""></a>
    <a href=""><img src="static/Cadillac.png" alt=""></a>
    <a href=""><img src="static/Chevrolet.png" alt=""></a>
    <a href=""><img src="static/Dodge.png" alt=""></a>
    <a href=""><img src="static/Ferrari.png" alt=""></a>
    <a href=""><img src="static/fiat-1.png" alt=""></a>
    <a href=""><img src="static/gmc.png" alt=""></a>
    <a href=""><img src="static/honda.png" alt=""></a>
    <a href=""><img src="static/Hummer.png" alt=""></a>
    <a href=""><img src="static/Hyundai.png" alt=""></a>
    <a href=""><img src="static/infinity.png" alt=""></a>
    <a href=""><img src="static/Isuzu.png" alt=""></a>
    <a href=""><img src="static/Jaguar.png" alt=""></a>
    <a href=""><img src="static/Jeep.png" alt=""></a>
    <a href=""><img src="static/kia-1.png" alt=""></a>
    <a href=""><img src="static/Lamborghini.png" alt=""></a>
    <a href=""><img src="static/landrover.png" alt=""></a>
    <a href=""><img src="static/Lexus.png" alt=""></a>
    <a href=""><img src="static/maserati.png" alt=""></a>
    <a href=""><img src="static/mazda-1.png" alt=""></a>
    <a href=""><img src="static/Mercedes-Benz.png" alt=""></a>
    <a href=""><img src="static/Mini.png" alt=""></a>
    <a href=""><img src="static/Mitsubishi.png" alt=""></a>
    <a href=""><img src="static/Nissan.png" alt=""></a>
    <a href=""><img src="static/Peugeot.png" alt=""></a>
    <a href=""><img src="static/Porsche.png" alt=""></a>
    <a href=""><img src="static/Ram.png" alt=""></a>
    <a href=""><img src="static/Renault.png" alt=""></a>
    <a href=""><img src="static/rolls-royce-logo.png" alt=""></a>
    <a href=""><img src="static/Scion.png" alt=""></a>
    <a href=""><img src="static/Subaru.png" alt=""></a>
    <a href=""><img src="static/Suzuki.png" alt=""></a>
    <a href=""><img src="static/Tesla.png" alt=""></a>
    <a href="/toyota"><img src="static/Toyota.png" alt=""></a>
    <a href=""><img src="static/Volkswagen.png" alt=""></a>
    <a href=""><img src="static/Volvo-1.png" alt=""></a>
  </div>
</section>

<hr>

<section class="toyota-vehicles" id="vehicles">
  <div class="toyota-car">
      <img src="static/prado.jpg" alt="toyota prado new model">
      <h3>Toyota Prado</h3>
      <p><span style="color: rgb(248, 240, 240);">Engine</span>1500CC</p>
      <h4 style="color: red;">KSH. 7.3M</h4>
      <hr>
      <p><span style="color:  rgb(248, 240, 240);">Make</span> 2024</p>
      <p><span style="color:  rgb(248, 240, 240);">Availability</span> In stock</p>
      <P><span style="color:  rgb(248, 240, 240);">Transmission</span> Auto</P>
      <p><span style="color:  rgb(248, 240, 240);">Fuel</span> Petrol</p>
      <p><span style="color:  rgb(248, 240, 240);">mileage</span> 100000</p>
      <button type="submit"><a href="https://wa.me/254729098337" target="_blank">Get More Info</a></button>
  </div>

  <div class="toyota-car">
    <img src="static/prado.jpg" alt="toyota prado new model">
    <h3>Toyota Prado</h3>
    <p><span style="color: rgb(248, 240, 240);">Engine</span>1500CC</p>
    <h4 style="color: red;">KSH. 7.3M</h4>
    <hr>
    <p><span style="color:  rgb(248, 240, 240);">Make</span> 2024</p>
    <p><span style="color:  rgb(248, 240, 240);">Availability</span> In stock</p>
    <P><span style="color:  rgb(248, 240, 240);">Transmission</span> Auto</P>
    <p><span style="color:  rgb(248, 240, 240);">Fuel</span> Petrol</p>
    <p><span style="color:  rgb(248, 240, 240);">mileage</span> 100000</p>
    <button type="submit"><a href="">Get More Info</a></button>
</div>

<div class="toyota-car">
  <img src="static/prado.jpg" alt="toyota prado new model">
  <h3>Toyota Prado</h3>
  <p><span style="color: rgb(248, 240, 240);">Engine</span>1500CC</p>
  <h4 style="color: red;">KSH. 7.3M</h4>
  <hr>
  <p><span style="color:  rgb(248, 240, 240);">Make</span> 2024</p>
  <p><span style="color:  rgb(248, 240, 240);">Availability</span> In stock</p>
  <P><span style="color:  rgb(248, 240, 240);">Transmission</span> Auto</P>
  <p><span style="color:  rgb(248, 240, 240);">Fuel</span> Petrol</p>
  <p><span style="color:  rgb(248, 240, 240);">mileage</span> 100000</p>
  <button type="submit"><a href="">Get More Info</a></button>
</div>

<div class="toyota-car">
<img src="static/prado.jpg" alt="toyota prado new model">
<h3>Toyota Prado</h3>
<p><span style="color: rgb(248, 240, 240);">Engine</span>1500CC</p>
<h4 style="color: red;">KSH. 7.3M</h4>
<hr>
<p><span style="color:  rgb(248, 240, 240);">Make</span> 2024</p>
<p><span style="color:  rgb(248, 240, 240);">Availability</span> In stock</p>
<P><span style="color:  rgb(248, 240, 240);">Transmission</span> Auto</P>
<p><span style="color:  rgb(248, 240, 240);">Fuel</span> Petrol</p>
<p><span style="color:  rgb(248, 240, 240);">mileage</span> 100000</p>
<button type="submit"><a href="">Get More Info</a></button>
</div>

<div class="toyota-car">
<img src="static/prado.jpg" alt="toyota prado new model">
<h3>Toyota Prado</h3>
<p><span style="color: rgb(248, 240, 240);">Engine</span>1500CC</p>
<h4 style="color: red;">KSH. 7.3M</h4>
<hr>
<p><span style="color:  rgb(248, 240, 240);">Make</span> 2024</p>
<p><span style="color:  rgb(248, 240, 240);">Availability</span> In stock</p>
<P><span style="color:  rgb(248, 240, 240);">Transmission</span> Auto</P>
<p><span style="color:  rgb(248, 240, 240);">Fuel</span> Petrol</p>
<p><span style="color:  rgb(248, 240, 240);">mileage</span> 100000</p>
<button type="submit"><a href="">Get More Info</a></button>
</div>

<div class="toyota-car">
<img src="static/prado.jpg" alt="toyota prado new model">
<h3>Toyota Prado</h3>
<p><span style="color: rgb(248, 240, 240);">Engine</span>1500CC</p>
<h4 style="color: red;">KSH. 7.3M</h4>
<hr>
<p><span style="color:  rgb(248, 240, 240);">Make</span> 2024</p>
<p><span style="color:  rgb(248, 240, 240);">Availability</span> In stock</p>
<P><span style="color:  rgb(248, 240, 240);">Transmission</span> Auto</P>
<p><span style="color:  rgb(248, 240, 240);">Fuel</span> Petrol</p>
<p><span style="color:  rgb(248, 240, 240);">mileage</span> 100000</p>
<button type="submit"><a href="">Get More Info</a></button>
</div>

<div class="toyota-car">
<img src="static/prado.jpg" alt="toyota prado new model">
<h3>Toyota Prado</h3>
<p><span style="color: rgb(248, 240, 240);">Engine</span>1500CC</p>
<h4 style="color: red;">KSH. 7.3M</h4>
<hr>
<p><span style="color:  rgb(248, 240, 240);">Make</span> 2024</p>
<p><span style="color:  rgb(248, 240, 240);">Availability</span> In stock</p>
<P><span style="color:  rgb(248, 240, 240);">Transmission</span> Auto</P>
<p><span style="color:  rgb(248, 240, 240);">Fuel</span> Petrol</p>
<p><span style="color:  rgb(248, 240, 240);">mileage</span> 100000</p>
<button type="submit"><a href="">Get More Info</a></button>
</div>

<div class="toyota-car">
<img src="static/prado.jpg" alt="toyota prado new model">
<h3>Toyota Prado</h3>
<p><span style="color: rgb(248, 240, 240);">Engine</span>1500CC</p>
<h4 style="color: red;">KSH. 7.3M</h4>
<hr>
<p><span style="color:  rgb(248, 240, 240);">Make</span> 2024</p>
<p><span style="color:  rgb(248, 240, 240);">Availability</span> In stock</p>
<P><span style="color:  rgb(248, 240, 240);">Transmission</span> Auto</P>
<p><span style="color:  rgb(248, 240, 240);">Fuel</span> Petrol</p>
<p><span style="color:  rgb(248, 240, 240);">mileage</span> 100000</p>
<button type="submit"><a href="">Get More Info</a></button>
</div>

<div class="toyota-car">
<img src="static/prado.jpg" alt="toyota prado new model">
<h3>Toyota Prado</h3>
<p><span style="color: rgb(248, 240, 240);">Engine</span>1500CC</p>
<h4 style="color: red;">KSH. 7.3M</h4>
<hr>
<p><span style="color:  rgb(248, 240, 240);">Make</span> 2024</p>
<p><span style="color:  rgb(248, 240, 240);">Availability</span> In stock</p>
<P><span style="color:  rgb(248, 240, 240);">Transmission</span> Auto</P>
<p><span style="color:  rgb(248, 240, 240);">Fuel</span> Petrol</p>
<p><span style="color:  rgb(248, 240, 240);">mileage</span> 100000</p>
<button type="submit"><a href="">Get More Info</a></button>
</div>

<div class="toyota-car">
<img src="static/prado.jpg" alt="toyota prado new model">
<h3>Toyota Prado</h3>
<p><span style="color: rgb(248, 240, 240);">Engine</span>1500CC</p>
<h4 style="color: red;">KSH. 7.3M</h4>
<hr>
<p><span style="color:  rgb(248, 240, 240);">Make</span> 2024</p>
<p><span style="color:  rgb(248, 240, 240);">Availability</span> In stock</p>
<P><span style="color:  rgb(248, 240, 240);">Transmission</span> Auto</P>
<p><span style="color:  rgb(248, 240, 240);">Fuel</span> Petrol</p>
<p><span style="color:  rgb(248, 240, 240);">mileage</span> 100000</p>
<button type="submit"><a href="">Get More Info</a></button>
</div>

<div class="toyota-car">
<img src="static/prado.jpg" alt="toyota prado new model">
<h3>Toyota Prado</h3>
<p><span style="color: rgb(248, 240, 240);">Engine</span>1500CC</p>
<h4 style="color: red;">KSH. 7.3M</h4>
<hr>
<p><span style="color:  rgb(248, 240, 240);">Make</span> 2024</p>
<p><span style="color:  rgb(248, 240, 240);">Availability</span> In stock</p>
<P><span style="color:  rgb(248, 240, 240);">Transmission</span> Auto</P>
<p><span style="color:  rgb(248, 240, 240);">Fuel</span> Petrol</p>
<p><span style="color:  rgb(248, 240, 240);">mileage</span> 100000</p>
<button type="submit"><a href="">Get More Info</a></button>
</div>

<div class="toyota-car">
<img src="static/prado.jpg" alt="toyota prado new model">
<h3>Toyota Prado</h3>
<p><span style="color: rgb(248, 240, 240);">Engine</span>1500CC</p>
<h4 style="color: red;">KSH. 7.3M</h4>
<hr>
<p><span style="color:  rgb(248, 240, 240);">Make</span> 2024</p>
<p><span style="color:  rgb(248, 240, 240);">Availability</span> In stock</p>
<P><span style="color:  rgb(248, 240, 240);">Transmission</span> Auto</P>
<p><span style="color:  rgb(248, 240, 240);">Fuel</span> Petrol</p>
<p><span style="color:  rgb(248, 240, 240);">mileage</span> 100000</p>
<button type="submit"><a href="">Get More Info</a></button>
</div>

<div class="toyota-car">
<img src="static/prado.jpg" alt="toyota prado new model">
<h3>Toyota Prado</h3>
<p><span style="color: rgb(248, 240, 240);">Engine</span>1500CC</p>
<h4 style="color: red;">KSH. 7.3M</h4>
<hr>
<p><span style="color:  rgb(248, 240, 240);">Make</span> 2024</p>
<p><span style="color:  rgb(248, 240, 240);">Availability</span> In stock</p>
<P><span style="color:  rgb(248, 240, 240);">Transmission</span> Auto</P>
<p><span style="color:  rgb(248, 240, 240);">Fuel</span> Petrol</p>
<p><span style="color:  rgb(248, 240, 240);">mileage</span> 100000</p>
<button type="submit"><a href="">Get More Info</a></button>
</div>

<div class="toyota-car">
<img src="static/prado.jpg" alt="toyota prado new model">
<h3>Toyota Prado</h3>
<p><span style="color: rgb(248, 240, 240);">Engine</span>1500CC</p>
<h4 style="color: red;">KSH. 7.3M</h4>
<hr>
<p><span style="color:  rgb(248, 240, 240);">Make</span> 2024</p>
<p><span style="color:  rgb(248, 240, 240);">Availability</span> In stock</p>
<P><span style="color:  rgb(248, 240, 240);">Transmission</span> Auto</P>
<p><span style="color:  rgb(248, 240, 240);">Fuel</span> Petrol</p>
<p><span style="color:  rgb(248, 240, 240);">mileage</span> 100000</p>
<button type="submit"><a href="">Get More Info</a></button>
</div>

<div class="toyota-car">
<img src="static/prado.jpg" alt="toyota prado new model">
<h3>Toyota Prado</h3>
<p><span style="color: rgb(248, 240, 240);">Engine</span>1500CC</p>
<h4 style="color: red;">KSH. 7.3M</h4>
<hr>
<p><span style="color:  rgb(248, 240, 240);">Make</span> 2024</p>
<p><span style="color:  rgb(248, 240, 240);">Availability</span> In stock</p>
<P><span style="color:  rgb(248, 240, 240);">Transmission</span> Auto</P>
<p><span style="color:  rgb(248, 240, 240);">Fuel</span> Petrol</p>
<p><span style="color:  rgb(248, 240, 240);">mileage</span> 100000</p>
<button type="submit"><a href="">Get More Info</a></button>
</div>

<div class="toyota-car">
<img src="static/prado.jpg" alt="toyota prado new model">
<h3>Toyota Prado</h3>
<p><span style="color: rgb(248, 240, 240);">Engine</span>1500CC</p>
<h4 style="color: red;">KSH. 7.3M</h4>
<hr>
<p><span style="color:  rgb(248, 240, 240);">Make</span> 2024</p>
<p><span style="color:  rgb(248, 240, 240);">Availability</span> In stock</p>
<P><span style="color:  rgb(248, 240, 240);">Transmission</span> Auto</P>
<p><span style="color:  rgb(248, 240, 240);">Fuel</span> Petrol</p>
<p><span style="color:  rgb(248, 240, 240);">mileage</span> 100000</p>
<button type="submit"><a href="">Get More Info</a></button>
</div>

<div class="toyota-car">
<img src="static/prado.jpg" alt="toyota prado new model">
<h3>Toyota Prado</h3>
<p><span style="color: rgb(248, 240, 240);">Engine</span>1500CC</p>
<h4 style="color: red;">KSH. 7.3M</h4>
<hr>
<p><span style="color:  rgb(248, 240, 240);">Make</span> 2024</p>
<p><span style="color:  rgb(248, 240, 240);">Availability</span> In stock</p>
<P><span style="color:  rgb(248, 240, 240);">Transmission</span> Auto</P>
<p><span style="color:  rgb(248, 240, 240);">Fuel</span> Petrol</p>
<p><span style="color:  rgb(248, 240, 240);">mileage</span> 100000</p>
<button type="submit"><a href="">Get More Info</a></button>
</div>

<div class="toyota-car">
<img src="static/prado.jpg" alt="toyota prado new model">
<h3>Toyota Prado</h3>
<p><span style="color: rgb(248, 240, 240);">Engine</span>1500CC</p>
<h4 style="color: red;">KSH. 7.3M</h4>
<hr>
<p><span style="color:  rgb(248, 240, 240);">Make</span> 2024</p>
<p><span style="color:  rgb(248, 240, 240);">Availability</span> In stock</p>
<P><span style="color:  rgb(248, 240, 240);">Transmission</span> Auto</P>
<p><span style="color:  rgb(248, 240, 240);">Fuel</span> Petrol</p>
<p><span style="color:  rgb(248, 240, 240);">mileage</span> 100000</p>
<button type="submit"><a href="">Get More Info</a></button>
</div>

<div class="toyota-car">
<img src="static/prado.jpg" alt="toyota prado new model">
<h3>Toyota Prado</h3>
<p><span style="color: rgb(248, 240, 240);">Engine</span>1500CC</p>
<h4 style="color: red;">KSH. 7.3M</h4>
<hr>
<p><span style="color:  rgb(248, 240, 240);">Make</span> 2024</p>
<p><span style="color:  rgb(248, 240, 240);">Availability</span> In stock</p>
<P><span style="color:  rgb(248, 240, 240);">Transmission</span> Auto</P>
<p><span style="color:  rgb(248, 240, 240);">Fuel</span> Petrol</p>
<p><span style="color:  rgb(248, 240, 240);">mileage</span> 100000</p>
<button type="submit"><a href="">Get More Info</a></button>
</div>

<div class="toyota-car">
<img src="static/prado.jpg" alt="toyota prado new model">
<h3>Toyota Prado</h3>
<p><span style="color: rgb(248, 240, 240);">Engine</span>1500CC</p>
<h4 style="color: red;">KSH. 7.3M</h4>
<hr>
<p><span style="color:  rgb(248, 240, 240);">Make</span> 2024</p>
<p><span style="color:  rgb(248, 240, 240);">Availability</span> In stock</p>
<P><span style="color:  rgb(248, 240, 240);">Transmission</span> Auto</P>
<p><span style="color:  rgb(248, 240, 240);">Fuel</span> Petrol</p>
<p><span style="color:  rgb(248, 240, 240);">mileage</span> 100000</p>
<button type="submit"><a href="">Get More Info</a></button>
</div>

<div class="toyota-car">
<img src="static/prado.jpg" alt="toyota prado new model">
<h3>Toyota Prado</h3>
<p><span style="color: rgb(248, 240, 240);">Engine</span>1500CC</p>
<h4 style="color: red;">KSH. 7.3M</h4>
<hr>
<p><span style="color:  rgb(248, 240, 240);">Make</span> 2024</p>
<p><span style="color:  rgb(248, 240, 240);">Availability</span> In stock</p>
<P><span style="color:  rgb(248, 240, 240);">Transmission</span> Auto</P>
<p><span style="color:  rgb(248, 240, 240);">Fuel</span> Petrol</p>
<p><span style="color:  rgb(248, 240, 240);">mileage</span> 100000</p>
<button type="submit"><a href="">Get More Info</a></button>
</div>

<div class="toyota-car">
<img src="static/prado.jpg" alt="toyota prado new model">
<h3>Toyota Prado</h3>
<p><span style="color: rgb(248, 240, 240);">Engine</span>1500CC</p>
<h4 style="color: red;">KSH. 7.3M</h4>
<hr>
<p><span style="color:  rgb(248, 240, 240);">Make</span> 2024</p>
<p><span style="color:  rgb(248, 240, 240);">Availability</span> In stock</p>
<P><span style="color:  rgb(248, 240, 240);">Transmission</span> Auto</P>
<p><span style="color:  rgb(248, 240, 240);">Fuel</span> Petrol</p>
<p><span style="color:  rgb(248, 240, 240);">mileage</span> 100000</p>
<button type="submit"><a href="">Get More Info</a></button>
</div>
</section>

<hr>

<footer class="footer">
  <div class="links">
    <h2>Quick Links</h2>
    <a href="/sell">Sell Your Car</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
  </div>

  <div class="location">
    <h2>Location</h2>
    <p>Gabitech Investments - Moi Avenue</p>
    <p>Gabitech Building, 3rd floor.</p>  
    <p>Off Pembe za Ndovu</p>  
    
  </div>

  <div class="contact-us">
    <h2>Contact Us</h2>
    
    <p><a href="tel:+254729098337"><i class="fa-solid fa-phone" style="color: #f6f5f0;"></i>  +254 7290 983 37</a></p>
    <p><a href="tel:+254745392382"><i class="fa-solid fa-phone" style="color: #f6f5f0;"></i>  +254 7453 923 82</a></p>
    <p><a href="mailto:gabitech@gmail.com"><i class="fa-solid fa-envelope" style="color: #f6f5f0;"></i>  gabitech@gmail.com</a></p>
  </div>
</footer>

<hr>

<section class="social-media">

  <p>&copy; 2025 Gabitech Investments All rights reserved.</p>

  <div class="media">
    <a href="https://www.facebook.com/profile.php?id=61576744570713" target="_blank"><i class="fa-brands fa-facebook fa-bounce" style="color: white;"></i></a>
    <a href="https://www.instagram.com/gabitech_investments/" target="_blank"><i class="fa-brands fa-instagram fa-bounce" style="color: white;"></i></a>
    <a href="https://x.com/Gabitech_LTD" target="_blank"><i class="fa-brands fa-x-twitter fa-bounce" style="color: white;"></i></a>
    <a href="https://wa.me/254729098337" target="_blank"><i class="fa-brands fa-whatsapp fa-bounce" style="color: white;"></i></a>
  </div>
</section>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="main.js"></script>
</body>
</html>
